{% extends "base.html" %}

{% block head %}
    <title> Administrátorská stránka </title>
{% endblock %}

{% block menu %}

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('views.reservations_admin') }}" class="nav-link px-2 {{ 'active' if active_page == 'reservation_page' else '' }}">Rezervace</a></li>
        <li><a href="{{ url_for('views.instructors_admin') }}" class="nav-link px-2 {{ 'active' if active_page == 'school' else '' }}">Instruktoři</a></li>
        <li><a href="{{ url_for('views.prices_page') }}" class="nav-link px-2 {{ 'active' if active_page == 'prices' else '' }}">Ceník</a></li>
        <li><a href="{{ url_for('views.instructors_page') }}" class="nav-link px-2 {{ 'active' if active_page == 'instructors' else '' }}">Instruktoři</a></li>
    </ul>

{% endblock %}

{% block body %}
{% endblock %}