{% extends "base.html" %}

{% block head %}
    <title> Rezervace - admin stránka </title>
{% endblock %}

{% block body %}
<section class="section_blue">
    <form method="post" action="{{ url_for('views.reservations_admin') }}">
        {{ form.hidden_tag() }}
        <label for="date">{{ form.date.label }}</label>
        {{ form.date }}
        <br>
        <label for="time_start">{{ form.time_start.label }}</label>
        {{ form.time_start }}
        {% if form.time_start.errors %}
            <div class="errors">{{ form.time_start.errors[0] }}</div>
        {% endif %}
        <br>
        <label for="lesson_type">{{ form.lesson_type.label }}</label>
        {{ form.lesson_type }}
        <br>
        <label for="capacity">{{ form.capacity.label }}</label>
        {{ form.capacity }}
        <br>
        <label for="lesson_instructor_choices">{{ form.lesson_instructor_choices.label }}</label>
        {{ form.lesson_instructor_choices }}
        {{ form.submit }}
</section>

<section class="section_white">

</section>


{% endblock %}