{% extends "base.html" %}

{% block head %}
    <title>Rezervační stránka</title>
{% endblock %}

{% block body %}
    <section class="section_blue" id="date_picker">
        <h3 class="global-margin">Výběr termínu rezervace</h3>
    </section>

    <section class="section_white" id="contact_information">
        <h3 class="global-margin">Kontaktní informace</h3>
    </section>

    <section class="section_blue" id="students">
        <h3 class="global-margin">Žáci</h3>
    </section>

    <section class="section_white" id="reservation_send">
        <h2 class="global-margin">Odeslání rezervace</h2>
        <a>Ahodjfgosifjosidfsdfs</a>
    </section>
{% endblock %}