{% extends "base_user.html" %}

{% block head %}
    <title> Kontakty </title>
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_user_reservation_check.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/school_information.css') }}" rel="stylesheet">
    
{% endblock %}

{% block body %}
<div class="global-margin">
    <div class=" py-4 school-container">
        <h2>Kontakty</h2>
        <p>Ičo</p>
        <p>Adresa: </p>
        <p>E-mail: <a href="mailto:havlova.d@seznam.cz">havlova.d@seznam.cz</a><br>Telefon: +420 722 242 060, +420 605 211 334</p>
    </div>
</div>
{% endblock %}
