{% extends "base_admin.html" %}

{% block head %}
<title> Dostupné hodiny - admin </title>
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_overview.css') }}" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_admin_lessons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/pop-up.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/style_user_instructors.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <div id="flash-messages"></div>
    <div class="flex-container flex-lessons">
        <div class="form-section left-section">
            <div class="global-margin">
                <div class="container-reservation container-reservation-show mt-3 container-prices">
                    <div class="container-prices">
                        <div class="table-responsive">
                            <h2 class="h2-headers">Naši instruktoři</h2>
                            <section class="hero-image">
                                <img src="{{ url_for('static', filename='images/placeholder_wide.jpg') }}"  alt="A beautiful landscape" class="responsive-hero">
                            </section>
                            
                            <section class="tile-gallery">
                                {% for instructor in instructors %}
                                    <div class="tile">
                                        {% if instructor.image_path %}
                                            <img src="{{ url_for('static', filename='uploads/' + instructor.image_path) }}" alt="Image description" class="responsive-image">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/placeholder_image.jpeg') }}" alt="Image description" class="responsive-image">
                                        {% endif %}
                                        <p class="instructor-desc">Instruktor: {{ instructor.osoba.jmeno }}</p>
                                        <p class="instructor-desc">{{ instructor.popis }}</p>
                                    </div>
                                {% endfor %}
                                <!--repetition-->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
