{% extends "base_user.html" %}

{% block head %}
    <title>Kontrola rezervací</title>
    <link href="{{ url_for('static', filename='css/style_user_reservation_check.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="section-blue reservation-check-section">
    <div class="global-margin body-height">
        <h2>Informace o rezervaci</h2>
        <div class="grid-container reservation-check-container">
            <div class="left-column col-12 order-md-1 order-1">
                <form id="reservationForm" method="post" class="reservation-form">
                    {{ form.hidden_tag() }}
                    <div class="horizontal-fields-container-res-check">
                        <div class="field-container-res-check">
                            <label for="reservation_id">{{ form.reservation_id.label }}</label>
                            {{ form.reservation_id(id="reservation_id") }}
                        </div>
                        <div class="field-container-res-check">
                            <label class="invisible-label" aria-hidden="true">schovane pole</label> 
                            <button class="btn btn-warning" type="submit">Zkontrolovat rezervaci</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right-column col-md-6 col-sm-12 order-md-2 order-2 d-none d-md-block">
                <div id="reservationDetails" class="reservation-details col-md-8"></div>
            </div>
        </div>
    </div>
</section>

    <script src="{{ url_for('static', filename='js/reservation_check.js') }}"></script>
{% endblock %}
