{% extends "base_user.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block head %}
    <title>Rezervace | Ski škola Bublava</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>

    <link href="{{ url_for('static', filename='css/reservation_page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/registration_modal.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
<form id="reservation-form" method="post" action="{{ url_for('reservations.main_page') }}">
    <div id="registrationModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Chcete se registrovat?</h2>
            </div>
            <p>S registrací můžete provádět storna, změny a detailní náhledy na všechny Vaše rezervace.</p>
                <div class="form-group">
                    <div class="checkbox-field">
                        <input type="checkbox" id="continueWithoutReg" name="continueWithoutReg">
                        <label for="continueWithoutReg">{{ form.submit_without_register.label }}</label>
                    </div>
                    <div class="checkbox-field">
                        <input type="checkbox" id="continueWithReg" name="continueWithReg">
                        <label for="continueWithReg">{{ form.submit_with_register.label }}</label>
                    </div>
                </div>
                <div class="form-group" id="passwordField" style="display: none;">
                    <div>
                        <label for="password" id="password_label_popup">{{ form.password.label }}</label>
                    </div>
                    <input type="password" id="password" name="password">
                </div>
                <button id="modalSubmitButton" class="btn btn btn-warning" type="button">Odeslat rezervaci</button>
        </div>
    </div>
  
    {{ form.hidden_tag() }}
    <section class="section-blue" id="date_picker" data-logged-in="{{ login_control }}">
        <div class="global-margin display-form">
            <h2 class="h2-headers">Výběr termínu rezervace</h2>
            <div class="grid-container">
                <div class="horizontal-fields-group">
                    <div class="horizontal-fields-container-header-test">
                        <div class="field-container d-flex align-items-center">
                            <label for="lesson_type" class="me-2 no-wrap label-class">{{ form.lesson_type.label(class="label-custom") }}</label>
                            {{ form.lesson_type(id="lesson_type", class="form-select") }}
                        </div>
                        <div class="field-container d-flex align-items-center">
                            <label for="lesson_length" class="me-2 no-wrap">{{ form.lesson_length.label(class="label-custom") }}</label>
                            {{ form.lesson_length(id="lesson_length", class="form-select") }}
                        </div>
                    </div>
                    <div class="horizontal-fields-container-header-test">
                        <div class="field-container d-flex align-items-center">
                            <label for="lesson_instructor_choices" class="me-2 no-wrap">{{ form.lesson_instructor_choices.label(class="label-custom") }}</label>
                            {{ form.lesson_instructor_choices(id="lesson_instructor", class="form-select") }}
                        </div>
                        <div class="field-container d-flex align-items-center">
                            <label for="language_selection" class="me-2 no-wrap">{{ form.language_selection.label(class="label-custom") }}</label>
                            {{ form.language_selection(id="language_selection", class="form-select") }}
                        </div>
                    </div>
                </div>
                <!-- First Column -->
                <div class="left-column">
                    <div class="custom-date-picker-container">
                        <div id="datepicker" data-available-times-ind="{{ available_times_ind }}" data-available-times-group="{{ available_times_group }}"></div>
                    </div>
                </div>
                <!-- Second Column -->
                <div class="right-column">
                    <div class="times-container">
                        {{ form.time_reservation }}
                    </div>
                </div>
            </div>
        </div>
        <hr class="global-margin display-form">
    </section>

    <section class="section-grey" id="contact_information">
        <div class="global-margin display-form">
            <h2 class="h2-headers">Kontaktní informace</h2>
            <div class="horizontal-fields-container-info">
                <div class="field-container-pi">
                    <label for="name">{{ form.name.label }}</label>
                    <span class="input-field-pi">{{ form.name(id="name", required=True) }}</span>
                </div>
                <div class="field-container-pi">
                    <label for="surname">{{ form.surname.label }}</label>
                    <span class="input-field-pi">{{ form.surname(id="surname") }}</span>
                </div>
                <div class="field-container-pi">
                    <label for="tel_number">{{ form.tel_number.label }}</label>
                    <span class="input-field-pi reservation_tel_number">{{ form.tel_number(title="Please fill in number", id="reservation_tel_number") }}</span>
                    <span id="tel_error" class="error-message"></span>
                </div>
                <div class="field-container-pi">
                    <label for="email">{{ form.email.label }}</label>
                    <span class="input-field-pi">{{ form.email(id="email") }}</span>
                </div>
            </div>
        </div>
        <hr class="global-margin display-form">
    </section>
    
    <section class="section-blue" id="students">
        <div class="global-margin display-form">
            <h2 class="h2-headers">Žáci lekce</h2>
            <div class="form-block">
                <div class="checkbox-container">
                    <div class="checkbox-field">
                        <input id="student_client_checkbox" name="student_client" type="checkbox" value="y">
                        <label for="student_client_checkbox">Žák stejný jako klient</label>
                    </div>
                    <div class="checkbox-field">
                        <input id="more_students_checkbox" name="more_students" type="checkbox" value="y">
                        <label for="more_students_checkbox">Objednat více žáků</label>
                    </div>
                </div>
                <div id="client_student_details_section" style="display: none;">
                    <div class="horizontal-fields-container-info">
                        <div class="field-container-pi">
                            <label for="name_client_hidden">Jméno</label>
                            <input id="name_client_hidden" name="name_client_hidden" type="text" disabled value="">
                        </div>
                        <div class="field-container-pi">
                            <label for="name_client_hidden">Příjmení</label>
                            <input id="surname_client_hidden" name="surname_client_hidden" type="text" disabled value="">
                        </div>
                        <div class="field-container-pi">
                            {{ form.age_client.label }}
                            {{ form.age_client(class_="age-field", id="age_client_main") }}
                        </div>
                        <div class="field-container-pi">
                            {{ form.experience_client.label }}
                            {{ form.experience_client(class_="form-select") }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="student_details_section" class="center-section" style="display: none;">
                <div class="horizontal-fields-container-info">
                    <div class="field-container-pi">
                        <label for="name">{{ form.name_client1.label }}</label>
                        {{ form.name_client1(id="name2") }}
                    </div>
                    <div class="field-container-pi">
                        <label for="surname">{{ form.surname_client1.label }}</label>
                        {{ form.surname_client1(id="surname2") }}
                    </div>
                    <div class="field-container-pi">
                        {{ form.age_client1.label }}
                        {{ form.age_client1(class_="age-field", id="age2") }}
                        {% for error in form.age_client1.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="field-container-pi">
                        {{ form.experience_client1.label }}
                        {{ form.experience_client1(class_="form-select") }}
                        {% for error in form.experience_client1.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="horizontal-fields-container-info">  
                    <div class="field-container-pi">
                        <label for="name">{{ form.name_client2.label }}</label>
                        {{ form.name_client2(id="name3") }}
                    </div>
                    <div class="field-container-pi">
                        <label for="surname">{{ form.surname_client2.label }}</label>
                        {{ form.surname_client2(id="surname3") }}
                    </div>
                    <div class="field-container-pi">
                        {{ form.age_client2.label }}
                        {{ form.age_client2(class_="age-field", id="age3") }}
                        {% for error in form.age_client2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="field-container-pi">
                        {{ form.experience_client2.label }}
                        {{ form.experience_client2(class_="form-select") }}
                        {% for error in form.experience_client2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
        <hr class="global-margin display-form"> 
    </section>  

    <section class="section-grey last-section" id="reservation_send">
        <div class="global-margin display-form">
            <h2 class="h2-headers">Odeslání rezervace</h2>
            <div class="form-grid">
                {{ form.note(class="notes-field") }}
                <button id="submit_reservation" class="submit-reservation-button g-recaptcha btn btn-warning btn btn-lg btn-send-reservation" 
                data-sitekey="6Ldfh6spAAAAANtsZZU3rLBv85NBJQFz-71nYcX3" 
                data-callback='onSubmit' 
                data-action='submit'
                type="button">Odeslat rezervaci</button>
            </div>
        </div>
    </section>
</form>


<script src="{{ url_for('static', filename='js/reservation.js') }}"></script>
<script src="{{ url_for('static', filename='js/registration_modal.js') }}"></script>

<script>
    function onSubmit(token) {
        document.getElementById("reservation-form").submit();
    }
</script>
{% endblock %}