{% extends "base_user.html" %}

{% block head %}
<title>Upravit profil uživatele</title>
<link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/school_information.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style_registration.css') }}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
{% endblock %}

{% block body %}
<div class="color-background">
    <div class="global-margin">
        <div class="body-login">
            <div class="form-container">
                <form method="POST" class="form-signin">
                    {{ form.hidden_tag() }}
                    <h2 class="h2-headers">Upravit profil</h2>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.name.label(class="login-label") }}
                        {{ form.name(id="name", class="form-control login-fields", placeholder="Jméno") }}
                    </div>
                    <div class="form-col">
                        {{ form.surname.label(class="login-label") }}
                        {{ form.surname(id="surname", class="form-control login-fields", placeholder="Příjmení") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.email.label(class="login-label") }}
                        {{ form.email(id="email", class="form-control login-fields", placeholder="Email") }}
                    </div>
                    <div class="form-col">
                        {{ form.tel_number.label(class="login-label") }}
                        {{ form.tel_number(id="tel_number", class="form-control login-fields", placeholder="Telefonní číslo") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.old_password.label(class="login-label") }}
                        {{ form.old_password(id="old_password", class="form-control login-fields", placeholder="Staré heslo") }}
                    </div>
                    <div class="form-col">
                        {{ form.new_password.label(class="login-label") }}
                        {{ form.new_password(id="new_password", class="form-control login-fields", placeholder="Nové heslo") }}
                    </div>
                </div>
                <div class="form-row form-btn">
                    {{ form.submit(class="btn btn-warning btn btn-lg btn-send-reservation", value="Uložit změny") }}
                </div>
                </form>
            </div>
        </div>  
    </div>
</div>
<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
{% endblock %}
