{% extends "base_user.html" %}

{% block head %}
    <title> Rezervace - uživatel </title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_overview.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_search.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_sign_user.css') }}" rel="stylesheet">
{% endblock %}

{% block signout %}
<div class="d-none d-lg-block">
    <a href="{{ url_for('auth.logout') }}" class="btn btn-warning button-right-margin btn-select-reservation" role="button">Odhlášení</a>
</div>
{% endblock %}

{% block body %}
<div class="global-margin">
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Detaily rezervace</h3>
            <div id="modalBody">
                <p>Some details here...</p>
            </div>
            <hr>
        </div>
    </div>
    <div id="flash-messages"></div>
    <div class="flex-container">
        <div class="form-section left-section">
            <div class="container-reservation container-reservation-show mt-3">
                <h2>Přehled Vašich rezervací</h2>
                <div class="horizontal-fields-container-admin-lessons">
                    <div class="containers-lessons">
                        <input type="date" id="reservationDate" name="reservationDate" class="userReservationDate">
                    </div>
                    <div class="containers-lessons">
                        <input class="btn btn-warning userReservationDate" type="button" id="allReservations" name="allReservations" value="Zobrazit všechny rezervace">
                    </div>
                </div>
                <div id="reservationDetailsAll" class="table-specific-reservations">
                </div>
                <div id="paginationControlsSecondTable" class="pagination-controls"></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<script type="text/javascript">
    var changeReservationUrl = "{{ url_for('users.reservation_change') }}";
</script>

{% endblock %}
