<!-- 
    FileName: user_page.html
    Description: User page for checking reservation. Logged in users can check reservation details.
    Author: Petr Štípek
    Date Created: 2024
-->

{% extends "base_user.html" %}

{% block head %}
    <title> Přehled rezervací | Ski škola Bublava</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_overview.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_search.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_sign_user.css') }}" rel="stylesheet">
{% endblock %}

{% block signout %}
<div class="d-none d-lg-block">
    <a href="{{ url_for('auth.logout') }}" class="btn btn-warning button-right-margin btn-select-reservation" role="button">Odhlášení</a>
</div>
{% endblock %}

{% block body %}
<div class="global-margin">
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Detaily rezervace</h3>
            <div id="modalBody">
                <p>Some details here...</p>
            </div>
            <hr>
        </div>
    </div>
    <div id="flash-messages"></div>
    <div class="flex-container">
        <div class="form-section left-section">
            <div class="container-reservation container-reservation-show mt-3">
                <h2>Přehled Vašich rezervací</h2>
                <div class="horizontal-fields-container-admin-lessons">
                    <div class="containers-lessons">
                        <input type="date" id="reservationDate" name="reservationDate" class="userReservationDate">
                    </div>
                    <div class="containers-lessons">
                        <input class="btn btn-warning userReservationDate" type="button" id="allReservations" name="allReservations" value="Zobrazit všechny rezervace">
                    </div>
                </div>
                <div id="reservationDetails" class="reservation-details col-md-8"></div>
                    <div id="reservationDetails">
                        <div class="table-responsive">
                            <table class="price-table" id="reservationDetails">
                                <thead>
                                    <tr>
                                        <th>Rezervační kód</th>
                                        <th>Termín</th>
                                        <th>Čas začátku</th>
                                        <th>Počet žáků</th>
                                        <th>Doba výuky</th>
                                        <th>Stav platby</th>
                                        <th>Detail rezervace</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="cell-termin">Zadejte ID pro zobrazení informací</td>
                                        <td id="cell-cas-zacatku"></td>
                                        <td id="cell-pocet-zaku"></td>
                                        <td id="cell-doba-vyuky"></td>
                                        <td id="cell-stav-platby"></td>
                                        <td id="cell-button-detail"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div id="reservationDetailsAll" class="table-specific-reservations">
                </div>
                <div id="paginationControlsFirstTable" class="pagination-controls"></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<script type="text/javascript">
    var changeReservationUrl = "{{ url_for('users.reservation_change') }}";
</script>

{% endblock %}
