/* 
 * FileName: main_admin_page.css
 * Description: Styles for the main admin page.
 * Author: Petr Štípek
 * Creation Date: 2024
 */

.nav-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;
}

.button {
    background-color: #FBC639;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav-buttons {
        justify-content: space-around;
    }

    .button {
        padding: 8px 16px;
    }
}