.form-section {
    margin-bottom: 30px;
}

.form-section h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[disabled] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control {
    margin-left: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
}