.school-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
}

body {
    display: flex !important;
}

.main-container {
    display: flex !important;
    flex-direction: column;
    flex: 1;
}