/* 
 * FileName: school_information.css
 * Description: Styles for the school information page. Defines the containes for the school information.
 * Author: Petr Štípek
 * Creation Date: 2024
 */

.school-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    width: 100%;
}

body {
    display: flex !important;
}

.main-container {
    display: flex !important;
    flex-direction: column;
    flex: 1;
}