header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.global-margin {
    margin-left: 190px;
    margin-right: 190px;
}

section {
    margin-bottom: 15px;
}

.horizontal-fields-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    height: auto;
}

.notes-field {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.checkbox-field {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.checkbox-field label {
    margin-right: 10px;
}

.checkbox-field input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 5px;
}

.large-checkbox {
    transform: scale(1.5);
    margin-right: 5px;
}

.invisible-field {
    visibility: hidden;
}

.h2-headers {
    margin-bottom: 15px;
}