.reservation-check-section {
    height: 450px;
}

.body-height {
    min-height: 350px;
}

.reservation-check-container {
    margin-top: 20px !important;
}

.field-container-res-check input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 4px;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
}

.reservation-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.reservation-table,
.reservation-table th,
.reservation-table td {
    border: 1px solid #ccc;
}

.reservation-table th,
.reservation-table td {
    padding: 10px;
    text-align: left;
}

.deleteReservationButton {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
}

.deleteReservationButton:hover {
    background-color: #d32f2f;
}

.reservation-table tr:last-child td {
    text-align: center;
    padding: 10px;
}

.horizontal-fields-container-res-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.invisible-label {
    display: block;
    visibility: hidden;
    height: auto;
    margin: 0;
    padding: 0;
}

.right-column {
    width: 100%;
}

.reservation-details {
    width: 100%;
}

.reservation-table {
    width: 100%;
    border-collapse: collapse;
}

.reservation-table th,
.reservation-table td {
    border: 1px solid #0D69B0;
    text-align: left;
    padding: 8px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-column,
.right-column {
    flex: 1;
}

.section-blue {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* table styles reset - will have to recheck every style above */
* {
    box-sizing: border-box;
}

.reservation-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.reservation-table th,
.reservation-table td {
    padding: 12px 15px;
    text-align: left;
}

.reservation-table th {
    background-color: #E0F4FF;
    color: black;
    font-weight: bold;
}

.reservation-table tbody tr {
    background-color: #f3f3f3;
}

.reservation-table tbody tr:last-of-type {
    border-bottom: 2px solid #0D69B0;
}

.deleteReservationButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.deleteReservationButton:hover {
    background-color: #c12e2a;
}

.horizontal-fields-container-res-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.field-container-res-check {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.field-container-res-check label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.btn-warning {
    border-radius: 8px
}

@media (max-width: 768px) {
    .horizontal-fields-container-res-check {
        width: 90%;
    }
}