.right-section {
    flex: 60% !important;
}

.left-section {
    flex: 55% !important;
}

@media (max-width: 1800px) {
    .flex-lessons {
        flex-direction: column;
    }

    .right-section {
        order: -1;
    }
}