header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-no-margin {
    margin-bottom: -8px !important;
}

.global-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.header .col-md-3 {
    display: flex;
    align-items: center;
    /* Align children vertically in the center */
    justify-content: flex-start;
    /* Align children to the start of the container */
}

/* Adjust the h3 styling to ensure it doesn't disrupt alignment */
.header .col-md-3 h3 {
    margin-top: 0;
    padding: 0;
    /* You might want to adjust the font size or other properties based on your design */
}

.nav-link.active {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white !important;
    /* Ensures text color is white */
}

section {
    padding: 20px;
    /* This will add padding inside the sections */
}

.section_blue {
    background-color: #E0F4FF;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    /* Allow items to wrap onto the next line if needed */
}

.form-row label,
.form-row input,
.form-row .age-field,
.form-row .selector-field {
    margin: 5px 0;
}

.error-message {
    color: red;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.dates-container {
    margin-left: 20px;
    max-height: 200px;
    /* Maximum height before scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
    width: 200px;
    /* Set a fixed width if desired */
}

.selected-date {
    margin-bottom: 10px;
    /* Spacing between date entries */
}