{% extends "base_user.html" %}

{% block head %}
    <title>Registrace nového uživatele</title>
    <link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_registration.css') }}" rel="stylesheet">
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
{{ form.hidden_tag() }}
<body class="text-center">
    <div class="body-login">
        <div class="form-container">
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                <h2 class="h2-headers">Nová registrace</h2>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.name.label(class="login-label") }}
                        {{ form.name(id="name", class="form-control login-fields", placeholder="Jméno") }}
                    </div>
                    <div class="form-col">
                        {{ form.surname.label(class="login-label") }}
                        {{ form.surname(id="surname", class="form-control login-fields", placeholder="Příjmení") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.email.label(class="login-label") }}
                        {{ form.email(id="email", class="form-control login-fields", placeholder="Email") }}
                    </div>
                    <div class="form-col">
                        {{ form.tel_number.label(class="login-label") }}
                        {{ form.tel_number(id="tel_number", class="form-control login-fields", placeholder="Telefonní číslo") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        {{ form.password.label(class="login-label") }}
                        {{ form.password(id="password", class="form-control login-fields", placeholder="Heslo") }}
                    </div>
                </div>
                <br>
                <div class="form-row form-btn">
                    {{ form.submit(class="btn btn-warning btn btn-lg btn-send-reservation") }}
                </div>
                <div class="mt-3">
                    <p>Máte již účet? <a href="{{ url_for('auth.login') }}">Přihlašte se</a></p>
                </div>
            </form>
        </div>
    </div>  
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
</body>
{% endblock %}
