<!-- 
    FileName: renew_password.html
    Description: Renew password page for main users.
    Author: Petr Štípek
    Date Created: 2024
-->

{% extends "base_user.html" %}

{% block head %}
<title>Obnova hesla | Ski škola Bublava</title>
    <link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/account_renewal.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/school_information.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
{% endblock %}

{% block body %}
<div class="color-background">
    <div class="global-margin">
        <div class="body-login">
            <div class="form-container">
                <form method="POST" class="form-signin">
                    {{ form.hidden_tag() }}
                    <h2 class="h2-headers">Obnova hesla</h2>
                    <p>Zadejte prosím email, který byl použit pro registraci.</p>
                    {{ form.email.label(class="login-label") }}
                    {{ form.email(class=" left-aligned-placeholder form-control login-fields", placeholder="Uživatelský email") }}
                    {{ form.submit(class="btn btn-warning btn btn-lg btn-send-reservation") }}
                    <div class="mt-3">
                        <p>Máte již účet? <a href="{{ url_for('auth.login') }}"><i class="fas fa-user"></i> Přihlašte se</a></p>
                        <p>Nemáte účet? <a href="{{ url_for('auth.registration_user') }}"><i class="fas fa-user-plus"></i> Zaregistrujte se</a></p>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
