<!-- 
    FileName: reset_password.html
    Description: Reset password page for users. Choosing new password.
    Author: Petr Štípek
    Date Created: 2024
-->

{% extends "base_user.html" %}

{% block head %}
<title>Obnova hesla | Ski škola Bublava</title>
    <link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/account_renewal.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/school_information.css') }}" rel="stylesheet">
    
{% endblock %}

{% block body %}
<div class="color-background">
    <div class="global-margin">
        <div class="body-login">
            <div class="form-container">
                <form method="POST" class="form-signin">
                    {{ form.hidden_tag() }}
                    <h2 class="h2-headers">Obnova hesla</h2>
                    <a>Zvolte si nové heslo, které použijete pro přihlášení!</a>
                    <br>
                    {{ form.new_password.label(class="login-label") }}
                    {{ form.new_password(class="left-aligned-placeholder form-control login-fields", placeholder="Heslo") }}
                    <br>
                    {{ form.submit(class="btn btn-warning btn btn-lg btn-send-reservation") }}
                </form>
            </div>
        </div>
</div>
{% endblock %}
