{% extends "base_user.html" %}

{% block head %}
    <title>Obnova hesla</title>
    <link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/account_renewal.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ form.hidden_tag() }}
<body class="text-center">
    <div class="body-login">
        <div class="form-container">
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                <h2 class="h2-headers">Obnova hesla</h2>
                <a>Zvolte si nové heslo, které použijete pro přihlášení!</a>
                <br>
                {{ form.new_password.label(class="login-label") }}
                {{ form.new_password(class="form-control login-fields", placeholder="Heslo") }}
                <br>
                {{ form.submit(class="btn btn-warning btn btn-lg btn-send-reservation") }}
            </form>
        </div>
    </div>  
</body>
{% endblock %}