{% extends "base_admin.html" %}

{% block head %}
<title>Upravit profil uživatele</title>
<link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style_user.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/school_information.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style_registration.css') }}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
{% endblock %}

{% block body %}
<div class="color-background">
    <div class="global-margin">
        <div class="body-login">
            <div class="form-container">
                Admin page - in progress
                {{ graph_html|safe }}
            </div>
        </div>  
    </div>
</div>
<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
{% endblock %}
