{% extends "base_admin.html" %}

{% block head %}
    <title> Instruktoři </title>
{% endblock %}

{% block body %}

<section class="section_blue">
    <h3 class="global-margin">Správa instruktora</h3>
    <form method="post" action="{{ url_for('views.instructors_admin') }}">
        {{ form.hidden_tag() }}
        <label for="name">{{ form.name.label }}</label>
        {{ form.name }}
        <br>
        <label for="surname">{{ form.surname.label }}</label>
        {{ form.surname }}
        <br>
        <label for="tel_number">{{ form.tel_number.label }}</label>
        {{ form.tel_number }}
        <br>
        <label for="email">{{ form.email.label }}</label>
        {{ form.email }}
        <br>
        <label for="experience">{{ form.experience.label }}</label>
        {{ form.experience }}
        <br>
        <label for="date_birth">{{ form.date_birth.label }}</label>
        {{ form.date_birth }}
        <br>
        <label for="date_started">{{ form.date_started.label }}</label>
        {{ form.date_started }}
        
        {{ form.submit }}
    </form>
</section>
<section class="section_white">
    <table border="1">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Seniorita</th>
                <th>tel. číslo</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors_dict %}
                <tr>
                    <td>{{ instructor['jmeno'] }}</td>
                    <td>{{ instructor['prijmeni'] }}</td>
                    <td>{{ instructor['seniorita'] }}</td>
                    <td>{{ instructor['tel_cislo'] }}</td>
                    <td>{{ instructor['email'] }}</td>
                    <td>
                        <form action="{{ url_for('views.delete_instructor_admin', instructor_id=instructor['ID_osoba']) }}" method="post">
                            {{ form.hidden_tag() }}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="2">No instructors found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}