{% extends "base_admin.html" %}

{% block head %}
    <title> Změna rezervace </title>
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<form id="reservation-change-form" method="post" action="{{ url_for('administration.reservation_change', reservation_id=reservation_id) }}">

    {{ form.hidden_tag() }}
    <div class="global-margin">
        <div class="container mt-3">
            <h1>Změna rezervace id: {{ reservation_id }}</h1>
            <hr>
                <div class="form-section">
                    <h2>Termín a čas rezervace</h2>
                    <div class="form-group">
                        {{ form.reservation_date.label(class="form-label") }}
                        {{ form.reservation_date(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.reservation_time.label(class="form-label") }}
                        {{ form.reservation_time(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.lesson_length.label(class="form-label") }}
                        {{ form.lesson_length(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.lesson_instructor_choices.label(class="form-label") }}
                        {{ form.lesson_instructor_choices(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.language_selection.label(class="form-label") }}
                        {{ form.language_selection(class="form-control") }}
                    </div>

                </div>

                <div class="form-section">
                    <h2>Kontaktní informace</h2>
                    <div class="form-group">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.surname.label(class="form-label")}}
                        {{ form.surname(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.tel_number.label(class="form-label") }}
                        {{ form.tel_number(class="form-control") }}
                    </div>
                </div>

                <div class="form-section">
                    <h2>Žáci lekce</h2>
                    <h3>Žák 1</h3>
                    <div class="form-group">
                        <label for="name_client_hidden">Jméno</label>
                        <input id="name_client_hidden" class="form-control" name="name_client_hidden" type="text" disabled value="">
                    </div>
                    <div class="form-group">
                        <label for="surname_client_hidden">Příjmení</label>
                        <input id="surname_client_hidden" class="form-control" name="surname_client_hidden" type="text" disabled value="">
                    </div>
                    <div class="form-group">
                        {{ form.age_client.label}}
                        {{ form.age_client(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.experience_client.label}}
                        {{ form.experience_client(class="form-control")}}
                    </div>
                    <h3>Žák 2</h3>
                    <div class="form-group">
                        {{ form.name_client1.label}}
                        {{ form.name_client1(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.surname_client1.label}}
                        {{ form.surname_client1(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.age_client1.label}}
                        {{ form.age_client1(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.experience_client1.label }}
                        {{ form.experience_client1(class="form-control") }}
                    </div>
                    <h3>Žák 3</h3>
                    <div class="form-group">
                        {{ form.name_client2.label}}
                        {{ form.name_client2(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.surname_client2.label}}
                        {{ form.surname_client2(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.age_client2.label}}
                        {{ form.age_client2(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.experience_client2.label }}
                        {{ form.experience_client2(class="form-control") }}
                    </div>
                </div>

                <div class="form-section">
                    <h2>Dodatečné informace</h2>
                    {{ form.note(class="form-control") }}
                </div>
            {{ form.reservation_id(value=reservation_id) }}
            {{ form.submit }}
        </div>
    </div>
</form>
{% endblock %}
