{% extends "base_admin.html" %}

{% block head %}
    <title> Vyhledání rezervace - admin | Ski škola Bublava </title>
    <link href="{{ url_for('static', filename='css/reservation_change.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reservation_overview.css') }}" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ url_for('static', filename='css/reservation_search.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="global-margin">
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Detaily rezervace</h3>
            <div id="modalBody">
                <p>Some details here...</p>
            </div>
        </div>
    </div>
    <div id="flash-messages"></div>
    <div class="flex-container">
        <div class="form-section left-section">
            <div class="container-reservation container-reservation-show mt-3">
                <h2>Nalezené rezervace</h2>
                <div id="reservationDetails" class="table-specific-reservations">
                    <table class="reservation-table">
                        <thead>
                            <tr>
                                <th>Rezervační kód</th>
                                <th>Klient</th>
                                <th>Termín rezervace</th>
                                <th>Čas začátku</th>
                                <th>Doba výuky</th>
                                <th>Stav platby</th>
                                <th>Instruktor</th>
                                <th>Detail rezervace</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                            <tr><td colspan="8"></td></tr>
                        </tbody>
                    </table>
                </div>



                <div id="paginationControlsFirstTable" class="pagination-controls"></div>
            </div>
        </div>
        <div class="form-section right-section">
            <div class="container-reservation container-reservations-search mt-3">
                <h2>Vyhledávací parametry</h2>
                <form id="reservationForm" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-section">
                        <div class="form-group">     
                            <label for="reservation_id">{{ form.reservation_id.label(class="form-label") }}</label>
                            {{ form.reservation_id(id="reservation_id", class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="reservation_name">{{ form.surname.label(class="form-label") }}</label>
                            {{ form.surname(id="reservation_name", class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="reservation_email">{{ form.email.label(class="form-label") }}</label>
                            {{ form.email(id="reservation_email", class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="reservation_tel_number">{{ form.tel_number.label(class="form-label") }}</label>
                            {{ form.tel_number(id="reservation_tel_number", class="form-control") }}
                        </div>
                        <div class="form-group center-section">
                            <button class="btn btn-warning" type="submit">Vyhledat rezervaci</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/reservation_change.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='js/reservation_admin_check.js') }}"></script>
<script type="text/javascript">
    var changeReservationUrl = "{{ url_for('administration.reservation_change') }}";
</script>

{% endblock %}
